*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    height: 100vh;
}

.main{
    width: 100%;
    height: 100%;
}

.image{
    width: 100%;
    height: 30%;
    background: url('./images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
span, p{
    color: hsl(224, 23%, 55%);
    font-size: 0.9em;
    font-weight: 700;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.content h1{
    font-weight: 900;
    margin-bottom: 15px;
}
.content p{
    text-align: center;
    padding: 0px 3em;
    margin-bottom: 25px;
    line-height: 25px;
}
.price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: hsl(225, 100%, 98%);
    align-items: center;
    padding: 1.2em 1.4em;
    border-radius: 10px;
    margin-bottom: 30px;
}
.price a{
    font-weight: 700;
}
.price a:active{
    text-decoration: none;
    color: hsl(245, 69%, 63%);
}

button{
    background: transparent;
    color: hsl(224, 23%, 55%);
    font-size: 1.1em;
    font-weight: 900;
    cursor: pointer;
}
button:active{
    color: hsl(223, 47%, 23%);
}

.payBtn{
    background: hsl(245, 75%, 52%);
    color: white;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px 1px hsl(224, 23%, 55%);
}
.payBtn:active{
    background: hsl(245, 69%, 63%);
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:550px) {
    body{
        background: url('./images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: hsl(225, 100%, 94%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main{
        width: 450px;
        height: 600px;
        background: white;
        border-radius: 20px;
    }
    .image{
        border-radius: 20px 20px 0px 0px;
    }
    .content{
        padding: 20px 40px;
    }
}